h1 {
  color: aqua;
}

h4 {
  color: rgb(109, 109, 218);
}

body {
  border: 1px solid black;
  padding: 1em;
}

header a {
  text-decoration: none;
  padding-right: 20px;
}

footer {
  text-align: center;
  background-color: burlywood;
  padding: 15px;
}
.darkMode {
  background-color: black;
  color: white;
}

.article-20 {
  width: 300px;
  color: aquamarine;
  text-align: justify;
  border: 1px solid burlywood;
  padding: 10px;
  margin: 30px;
  border-radius: 25px;
}

.article-20 img {
  width: 300px;
  object-fit: contain;
}
.article-20 h4 {
  color: aquamarine;
  text-align: center;
  font-size: 25px;
}

#todos {
  margin-bottom: 20px;
}
.divas {
  color: coral;
  border: 3px solid seagreen;
  margin: 20px;
  padding: 20px;
  text-align: center;
  font-size: 32px;
}
