h1 {
  color: aqua;
}

h4 {
  color: blue;
}

body {
  border: 1px solid black;
  padding: 1em;
}

header a {
  text-decoration: none;
  padding-right: 20px;
}

footer {
  text-align: center;
  background-color: burlywood;
  padding: 15px;
}
